*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li{
    list-style:none;
}
input{
    outline: none;
}
input[type="submit"],button{
    border: none;
    background-color: transparent;
    outline: none;
}
.page{
    display: flex;
    height: 100vh;
}
.page aside{
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
    background-color: #333758;
    color: white;
    margin-right: 20px;
}
.page aside .logo{
    margin: 10px auto;
    width: 150px;
    height: 30px;
    background: url('../img/music-logo.png') no-repeat center;
    background-size: cover;
}
.page aside .newSong{
    width: 120px;
    margin: 10px auto;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #3D4367;
    transition: all .3s;
    cursor: pointer;
}
.page aside .newSong:hover{
    background-color: #2A2C44;
}
.page aside .newSong.active{
    background-color: #2A2C44;
}
.page aside .songList{
    flex: 1;
    text-align: left;  
}
.page aside .songList ul li{
    padding: 5px 10px;
    transition: all .3s;
    font-size: 12px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.page aside .songList ul li:hover{
    background-color: #2A2C44;
}
.page aside .songList ul li.active{
    background-color: #2A2C44;
}

.page main{
    flex: 1;
    padding-right: 20px;
}
.page main .uploadAndSave .upload{
    background: url("../img/cloud\ to\ upload-云上传.png") no-repeat 50% 40%;
    background-size: 12%;
}
.page main .uploadAndSave h2{
    margin: 20px 10px;
}
.page main section.uploadSong .upload #uploadButtonWrapper {
    padding: 250px 0 30px;
    border: 1px solid #333758;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
    position: relative;
}
.page main section.uploadSong .upload #uploadButtonWrapper div{
    color: #BFBFBF;
}
.page main section.uploadSong button{ 
    background-color: #3D4367;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    font-size: 16px;
    transition: all .3s;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 50px;
}
.page main section.uploadSong .upload button:hover{
    background-color: #2A2C44;
}
.page main section.saveSong{
    margin-top: 20px;
}
.page main section.saveSong .row{
    margin: 10px;
}
.page main section.saveSong .row input[type="text"]{
    margin-left: 2px;
    border-radius: 3px;
    border: 1px solid #333758;
    line-height: 1.5em;
    padding: 5px;
}
.page main section.saveSong .row button{
    background-color: #333758;
    border-radius: 10px;
    width: 50px;
    padding: 5px;
    margin-left: 38px;
    color: white;
    cursor: pointer;
}
.page main section.saveSong .row button:hover{
    background-color: #2A2C44;
}


.loadingWrapper{
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.loadingWrapper.active{
    visibility: visible;
}
.loadingWrapper .loading{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(126, 126, 126);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    animation: loading 1s linear infinite;
}
@keyframes loading{
    0%{
        width: 0;
        height: 0;
        margin-top: 0;
        margin-left: 0;
    }
    100%{
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: -50px;
    }
}