*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    width: 10rem;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    display: flow-root;
}
.page::after{
    content: '';
    display: block;
    width: 10rem;
    height: 100vh;
    background: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533017427&di=bd6f7f1a1d37aa1263c1b752fa57dd50&imgtype=jpg&er=1&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2Fcdbf6c81800a19d87012672139fa828ba61e4685.jpg') no-repeat center;
    background-size: cover;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(5px);
    z-index: -1;
}
.page header .logo{
    width: 3rem;
    height: 0.5rem;
    margin: 10px 0 30px 10px;
    background: url('../img/网易云logo-播放页.png') no-repeat center;
    background-size: cover;
}
.page main .songPlayWrapper{
    width: 8.5rem;
    height: 8.5rem;
    position: relative;
    margin: 0 auto;
    background: url('../img/disc-ip6.png') no-repeat center;
    background-size: cover;
}
.page main .songPlayWrapper::before{
    content: '';
    display: block;
    width: 2.5rem;
    height: 3.5rem;
    background: url('../img/needle-ip6.png') no-repeat center;
    background-size: cover;
    position: absolute;
    top: calc(-0.5rem - 40px);
    left: 50%;
    margin-left: -0.3rem;
}
.page main .songPlayWrapper::after{
    content: '';
    display: block;
    width: 8.5rem;
    height: 8.5rem;
    position: absolute;
    top: 0;
    background: url('../img/disc_light-ip6.png') no-repeat center;
    background-size: cover;
    z-index: 1;
}
.page main .songPlayWrapper .songPlay .songCover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.5rem;
}
.page main .songPlayWrapper .songPlay .songCover img{
    width: 5.3rem;
    height: 5.3rem;
    border-radius: 50%;
    overflow: hidden;
    animation: playing 15s linear infinite;
}
@keyframes playing{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
