*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    width: 10rem;
    display: flow-root;
}
.wrapper{
    content: '';
    display: block;
    width: 10rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.bkg-cover{
    width: 10rem;
    height: 100vh;
    background: url('#') no-repeat center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(15px);
    z-index: -1;
}
.page header .logo{
    width: 3rem;
    height: 0.5rem;
    margin: 10px 0 30px 10px;
    background: url('../img/网易云logo-播放页.png') no-repeat center;
    background-size: cover;
}
.page main .songPlayWrapper{
    width: 7rem;
    height: 7rem;
    position: relative;
    margin: 0 auto;
    background: url('../img/disc-ip6.png') no-repeat center;
    background-size: cover;
}
.page main .songPlayWrapper::before{
    content: '';
    display: block;
    width: 2.5rem;
    height: 3.5rem;
    background: url('../img/needle-ip6.png') no-repeat center;
    background-size: cover;
    position: absolute;
    top: calc(-0.5rem - 40px);
    left: 50%;
    margin-left: -0.3rem;
}
.page main .songPlayWrapper::after{
    content: '';
    display: block;
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 0;
    background: url('../img/disc_light-ip6.png') no-repeat center;
    background-size: cover;
    z-index: 1;
}
.page main .songPlayWrapper .songPlay .songCover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    position: relative;
}
.page main .songPlayWrapper .songPlay .songCover img{
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    overflow: hidden;
    animation: playing 15s linear infinite;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
.page main .songPlayWrapper .songPlay .songCover.active img{
    animation-play-state: running;
    -webkit-animation-play-state: running;
}
@keyframes playing{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.page main .songPlayWrapper .songPlay .songCover .playLogo{
    width: 1.5rem;
    height: 1.5rem;
    background: url('../img/play.png') no-repeat center rgba(0, 0, 0, 0.5) ;
    background-size: cover;
    position: absolute;
    margin: 0 auto;
    border-radius: 50%; 
}
.page main .songPlayWrapper .songPlay .songCover .playLogo.active{
    display: none;
}
.page main .lyricWrapper{
    padding: 0.4rem;
}
.page main .lyricWrapper h3{
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    padding: 0.1rem;
}
.page main .lyric{
    color: #B8B3B1;
    height: 2.22rem;
    overflow: hidden;
    font-size: 15px;
    text-align: center;
}
.page main .lyric .lines{
    transition: all 0.3s;
}
.page main .lyric .lines p{
    margin: 0.5em 0;
}
.page main .lyric .lines p.active{
    color: white;
}

footer.openAndDownload{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.5rem 0.4rem 0.8rem 0.4rem;
}
footer.openAndDownload button{
    width: 4.4rem;
    padding: 8px 0;
    border-radius: 20px;
    font-size: 18px;
    background-color: transparent;
}
footer.openAndDownload .openButton{
    border: 1px solid #D33A31;
    color: #D33A31;
}
footer.openAndDownload .downloadButton{
    border: none;
    background-color: #D33A31;
    color: white;
}